body {
  background-color: white;
  font-family: helvetica;
}


header#homepage {
  border-bottom:solid black 8px;
  background-image:url(https://raw.githubusercontent.com/caitp222/caitp222.github.io/master/Images/Birds.Jpg);
  background-position: right;
  position: fixed;
  top: 0px;
  height: 110px;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width:700px) {
  header#homepage {
    background-position: -1000px;
  }
}

@media screen and (max-width:500px) {
  form {
    padding:0px;
  }
  header#homepage {
    font-size: 80%;
    height :80px;
    background-position: -1100px;
  }
  #main {
    margin-top: 80px;
  }
  img {
    width: 300px;
  }
}

.header {
  font-family:arial;
}

#main {
  position: absolute;
  margin-top: 110px;
  z-index; 0;
  overflow-y:scroll;
}


form#homepage div {
  border: solid black 1px;
  width: 20%;
  padding: 5px;
}

input {
  font-style: italic;
}

.button {
  padding: 7px;
}

.button:hover {
  background-color:lightblue;
}

a:visited {
  color:green;
}

ul {
  list-style-type:square;
}

#crater-lake {
  content-align:center;
  text-align:center;
}